*{
    font-family: sans-serif;
    font-size: 16px;
}
h1{
    font-weight: 700;
    text-transform: uppercase;
}
button{
    background-color: aqua;
    color: black;
    width: 120px;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
    padding: 10px;
    outline: none;
}
button:hover{
    background-color: chocolate;
    color: white;
    outline: violet;
}